# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Tugas lain / referensi
punyamic/

# File lama
lib/tutorial_6.dart
lib/notification_service*.dart
